body {
  font-family: "Baloo 2", cursive;
  font-size: 10pt;
  background-color: #333;
  color: #fff;
}
h1 {
  margin-top: 10px;
  font-size: 2.5em;
}
h2 {
  font-size: 1.75em;
}
.list-group-item {
  font-size: 1.5em;
}
h3.list-group-item {
  background-color: #f5f5f5;
  font-weight: 300;
  font-size: 1.25em;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 15px 7px;
}
.list-group-item .icon-wrapper {
  display: inline-block;
  width: 35px;
  margin-right: 5px;
  display: inline-flex;
  vertical-align: middle;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.list-group-item .icon-wrapper i {
  font-size: 1.5em;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
footer ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 10px 5px;
}
footer ul li a {
  color: #fff;
  border: 1px solid #ccc;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 1.8em;
  text-decoration: none;
}
footer ul li a:hover {
  background-color: #fff;
  color: #000;
}
